## Deliverable 3. Create a Travel Itinerary Map.

In [27]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key2

# Configure gmaps
gmaps.configure(api_key=g_key2)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Miranda De Ebro,ES,45.00,broken clouds,42.6865,-2.9470,Hospedería El Convento
1,1,Rikitea,PF,79.50,clear sky,-23.1203,-134.9692,Pension Maro'i
2,2,Vaini,TO,86.00,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,3,Barroquinha,BR,76.95,overcast clouds,-3.0189,-41.1361,Pousada Fontenele
4,4,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
locations

         Lat       Lng
0    42.6865   -2.9470
1   -23.1203 -134.9692
2   -21.2000 -175.2000
3    -3.0189  -41.1361
4   -21.3585   55.7679
..       ...       ...
623 -19.5167   45.4667
624 -18.7667   46.0333
625 -16.1564   33.5867
626  31.7561   25.0865
627  -5.4167   38.0167

[628 rows x 2 columns]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Cape Town"]
# ***possible alternative?  There has to be a better way to do this***: vacation_start = vacation_df.loc[(['City'] == "Cape Town"),'Country','City ID', 'Max Temp', 'Current Description', 'Lat', 'Lng', 'Hotel Name
vacation_end = vacation_df.loc[vacation_df['City'] == "Cape Town"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Hermanus"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Bredasdorp"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Kruisfontein"]

In [7]:
vacation_stop3
#myRoute =[vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3]
#myRoute

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
45,49,Kruisfontein,ZA,59.0,clear sky,-34.0033,24.7314,Oyster Bay House Rental

In [53]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_df.loc[vacation_df['City'] == "Cape Town",['Lat','Lng']].to_numpy()[0])
stop1 = tuple(vacation_df.loc[vacation_df['City'] == "Hermanus",['Lat','Lng']].to_numpy()[0])
stop2 = tuple(vacation_df.loc[vacation_df['City'] == "Bredasdorp",['Lat','Lng']].to_numpy()[0])
stop3 = tuple(vacation_df.loc[vacation_df['City'] == "Kruisfontein",['Lat','Lng']].to_numpy()[0])

In [54]:
stop3

(-34.0033, 24.7314)

In [55]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

end = start
fig = gmaps.figure()
trip_full_circle = gmaps.directions_layer(start, end, waypoints = [stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(trip_full_circle)
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,25,Cape Town,ZA,70.00,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,59,Hermanus,ZA,64.99,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
2,96,Bredasdorp,ZA,64.99,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
3,49,Kruisfontein,ZA,59.00,clear sky,-34.0033,24.7314,Oyster Bay House Rental
4,25,Cape Town,ZA,70.00,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.

marker_locations = [start,stop1,stop2,stop3,end]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info)

fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))